@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


.text-danger:hover {
    cursor: pointer !important;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #7d8a85;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;

}

body {
    width: 100%;
}

.nav-link {
    font-size: 25px !important;
    margin-left: 15px !important;
    font-family: 'League Spartan',
        sans-serif !important;
}

.nav-link:hover {

    color: #16A085 !important;
}

.navbar-brand {
    text-decoration: none;
    font-family: 'League Spartan',
        sans-serif;
    color: #212F3D;
    font-weight: 700;
}

.extra {
    color: #212F3D;
    font-family: 'League Spartan',
        sans-serif;
    font-weight: 700;
}
#count {
    font-family: 'Courier New', Courier, monospace;
    color: blue !important;
    font-weight: bolder !important;
    font-size: 15px !important;
}



.text-danger:hover {
    cursor: pointer !important;
}

#orderContainer {
    font-family: 'Lato', sans-serif;
    width: 80%;
    padding-top: 250px;
    padding-bottom: 150px;
    margin: auto;
    text-align: center;
}

#orderContainer i {
    color: rgb(5, 187, 5);
    padding-bottom: 30px;
    font-size: 10em;
}

#aboutCheck p {
    font-weight: 100;
    letter-spacing: 1px;
}

#aboutCheck h1 {
    letter-spacing: 1px;
    word-spacing: 1px;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 700px) {
    #orderContainer i {
        font-size: 8em;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}